<html lang="en">
<head>
    <%- include('./head.ejs') %>

    <script>
        tailwind.config = {
      darkMode: 'class',
      theme: {
        extend: {
          colors: {
            primary: {"50":"#fef2f2","100":"#fee2e2","200":"#fecaca","300":"#fca5a5","400":"#f87171","500":"#ef4444","600":"#dc2626","700":"#b91c1c","800":"#991b1b","900":"#7f1d1d","950":"#450a0a"}
          }
        },
        fontFamily: {
          'body': [
        'Open Sans', 
        'ui-sans-serif', 
        'system-ui', 
        '-apple-system', 
        'system-ui', 
        'Segoe UI', 
        'Roboto', 
        'Helvetica Neue', 
        'Arial', 
        'Noto Sans', 
        'sans-serif', 
        'Apple Color Emoji', 
        'Segoe UI Emoji', 
        'Segoe UI Symbol', 
        'Noto Color Emoji'
      ],
          'sans': [
        'Open Sans', 
        'ui-sans-serif', 
        'system-ui', 
        '-apple-system', 
        'system-ui', 
        'Segoe UI', 
        'Roboto', 
        'Helvetica Neue', 
        'Arial', 
        'Noto Sans', 
        'sans-serif', 
        'Apple Color Emoji', 
        'Segoe UI Emoji', 
        'Segoe UI Symbol', 
        'Noto Color Emoji'
      ]
        }
      }
    }
    </script>

    <meta property="og:title" content="Download from YouTube" />
    <meta property="og:description" content="'<%= video.videoDetails.title %>' by <%= video.videoDetails.author.user %>" />
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:image" content="https://img.youtube.com/vi/<%= video.videoDetails.videoId %>/maxresdefault.jpg" />

    <title>StealThis.lol / <%= video.videoDetails.title %></title>
</head>
<body>
  <%- include('./navbar.ejs') %>

    <section class="py-8 bg-white md:py-16 dark:bg-gray-900 antialiased">
        <div class="max-w-screen-xl px-4 mx-auto 2xl:px-0">
          <div class="lg:grid lg:grid-cols-2 lg:gap-8 xl:gap-16">
            <div class="shrink-0 max-w-md lg:max-w-lg mx-auto">
                <img class="w-full" src="https://img.youtube.com/vi/<%= video.videoDetails.videoId %>/maxresdefault.jpg" style="border-radius:30px" alt="" />
              <a
              href="https://img.youtube.com/vi/<%= video.videoDetails.videoId %>/maxresdefault.jpg"
              title=""
              class="text-white mt-4 sm:mt-4 bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800 flex items-center justify-center"
              role="button"
              target="_blank"
            >
              Thumbnail max quality
            </a>
            <a
              href="https://img.youtube.com/vi/<%= video.videoDetails.videoId %>/hqdefault.jpg"
              title=""
              class="mt-2 flex items-center justify-center py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
              role="button"
              target="_blank"
            >
              Thumbnail high quality
            </a>
            <a
              href="https://img.youtube.com/vi/<%= video.videoDetails.videoId %>/mqdefault.jpg"
              title=""
              class="mt-2 flex items-center justify-center py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
              role="button"
              target="_blank"
            >
              Thumbnail medium quality
            </a>
            <a
            href="https://img.youtube.com/vi/<%= video.videoDetails.videoId %>/sddefault.jpg"
            title=""
            class="mt-2 flex items-center justify-center py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
            role="button"
            target="_blank"
          >
            Thumbnail standard quality
          </a>
            </div>
    
            <div class="mt-6 sm:mt-8 lg:mt-0">
              <h1
                class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white"
              >
                <%= video.videoDetails.title %>
              </h1>
              <div class="mt-4 sm:items-center sm:gap-4 sm:flex">
                <a
                  class="text-lg font-extrabold text-gray-900 sm:text-2xl dark:text-white"
                  href="<%= video.videoDetails.author.channel_url %>"
                  target="_blank"
                >
                <%= video.videoDetails.author.user %>
              </a>
              </div>
    
              <div class="mt-6 sm:gap-4 sm:items-center sm:flex sm:mt-8">
                <a
                  href="https://youtube.com/watch?v=<%= video.videoDetails.videoId %>"
                  title=""
                  class="text-white mt-4 sm:mt-0 bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800 flex items-center justify-center"
                  role="button"
                  target="_blank"
                >
                  Watch on YouTube
                </a>
                <a
                  href="https://ko-fi.com/jimiwtf"
                  title=""
                  class="flex items-center justify-center py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                  role="button"
                >
                  <svg
                    class="w-5 h-5 -ms-2 me-2"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="none"
                    viewBox="0 0 24 24"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"
                    />
                  </svg>
                  Support the developer
                </a>
              </div>
              <hr class="my-6 md:my-8 border-gray-200 dark:border-gray-800" />
              <h1
                class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white"
              >
                Video 🎥 
              </h1>
              <% videoandsound.forEach(element => { %>
                <a
                  href="<%= element.url %>"
                  title=""
                  class="mt-2 flex items-center justify-center py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                  role="button"
                  target="_blank"
                >
                  Download <%= element.qualityLabel %> <%= element.container %> <%= element.fps %> fps
                </a>
              <% }) %>
              <hr class="my-6 md:my-8 border-gray-200 dark:border-gray-800" />
              <h1
                class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white"
              >
                Audio 🎧
              </h1> 
              <% justsound.forEach(element => { %>
                <a
                  href="<%= element.url %>"
                  title=""
                  class="mt-2 flex items-center justify-center py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                  role="button"
                  target="_blank"
                >
                  <%= element.audioQuality.replace("AUDIO_QUALITY_MEDIUM", "High Quality").replace("AUDIO_QUALITY_LOW", "Medium Quality") %> <%= element.container %>
                </a>
              <% }) %>
              <hr class="my-6 md:my-8 border-gray-200 dark:border-gray-800" />
              <h1
                class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white"
              >
                Video without sound 🔇
              </h1> 
              <% videonosound.forEach(element => { %>
                <a
                  href="<%= element.url %>"
                  title=""
                  class="mt-2 flex items-center justify-center py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                  role="button"
                  target="_blank"
                >
                Download <%= element.qualityLabel %> <%= element.container %> <%= element.fps %> fps
                </a>
              <% }) %>
            </div>
          </div>
        </div>
      </section>
</body>
</html>